<html>
    <head>
        <meta charset="utf-8">
        <title>주소록 등록</title>
    </head>
    <body>
        <h2>주소록 등록</h2>
        <form action='/writeAf' method='post'>
            이름 : <input type='text' name='name'><br>
            전화번호 : <input type='text' name='number'><br>
            e-mail : <input type='text' name='email'><br>
            <button type='submit'>등록</button>
        </form>
        <button onclick="location.href='/'"> 홈으로 </button>
    </body>
</html>
